*{
    margin: 0;
    padding: 0;
    // overflow: hidden;
   
}
body{
    $font-Family: 'Courier New', Courier, monospace; 
    


    background-color: rgb(3, 3, 3);
    font-family: $font-Family; 
    font-weight: lighter;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;


    // CSS componet styles
    button{
        background-color: transparent;
        color: white;
        padding: 1em 2em;
        border: 2px solid white;
        border-radius: 6px;
        font-family: $font-Family; 
        font-size: 1.1em;
        position: relative;
        cursor: pointer;
        transition: all 0.4s ease-out;
         
        &:hover{
            transform: scale(1.03)
        }
    }

    .styleH{
        font-size: 2.6em;
        position: relative;
        margin-bottom: 0.5em;
        width: 30%;

        &::before{
            position: absolute;
            bottom: 0;
            content: "";
            width: 0.1%;
            right: 0;
            height: 100%;
            display: block;
            background-color: white;
        }
    }

    


    // Desktop View;
    header{
        display: grid;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0.5em 0;
        background-color: rgb(3, 3, 3);
        grid-template-columns: 30% 1fr;
        z-index: 2;

            .logo{
                background: url("../assets/magsManLogo.png");
                transform: scale(6);
                background: rgba(255, 0, 0, 0) url("../assets/magsManLogo.png");
                background-position: center;
                text-align: left;
                background-size: contain;
                background-repeat: no-repeat;
                display: block;
                margin: 0.5em 0;

                
            }
            
            nav{
                text-align: right;
                padding: 1em 0;
                ul{
                    display: grid;
                    grid-template-columns: repeat(3, 13.3%);
                    grid-column-gap: 2em;
                    text-align: right;
                    text-decoration: none;

                    li{
                        list-style: none;
                        position: relative;

                            ::before{
                                width: 30%;
                                height: 9%;
                                bottom: -12%;
                                background-color: white;
                                display: block;
                                content: "";
                                position: absolute;
                                transition: all 0.61s ease-in-out;
                            }

                            :hover::before{
                                width: 50%;
                                height: 15%;
                                bottom: -12%;
                                background-color: white;
                                display: block;
                                content: "";
                                position: absolute;
                            }

                          
                    }

                    a{
                        color: white;
                        display: inline-block;
                        text-decoration: none;

                            
                    }
                }
                

            }
    }


    main{
        padding: 0em 0em 0em 1em ;
        
        .showcase{
            margin: 26vh 0vh 40vh 0;
            transform: scale(1);
            position: relative;
            

            &::before{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                display: inline-block;
                background: url("../assets/magsManLeaves.svg");
                background-position-x: 98%;
                background-size: contain;
                background-repeat: no-repeat;
                transform: scale(1)

            }
            
            h1{
                color: white;
                font-family: $font-Family;
                font-weight: 600;
                font-size: 4em;
                margin-bottom: 0.4em
                
               
            }

            p{
                color: white;
                width: 60%;
                margin-bottom: 2em;
                line-height: 1.4em;
                font-size: 1.5em;
            }

            

         
        }
    }

    .who{
        color: white;
        margin-bottom: 2em;
        position: relative;



 
        
        p{
            font-size: 1.3em;
            line-height: 1.8em;
            width: 70%;
        }
    }

    .contactUs{
        background-color: rgb(255, 255, 255);
        padding: 9em 0;
        text-align: center;
        background-attachment: scroll;
        position: relative;

        &::before{
            content: "";
            width: 100%;
            top: 0;
            height: 100%;
            position: absolute;
            display: block;
            background: url("../assets/map2.png");
            z-index: -0.2;

        }

        h1{
            font-size: 3.4em;
            position: relative;
            margin-bottom: 0.5em;
            

            
            &::before{
                width: 0.2%;
                height: 100%;
                right: 30%;
                bottom: -12%;
                background-color: rgb(0, 0, 0);
                display: block;
                content: "";
                position: absolute;
                transition: all 0.61s ease-in-out;
                animation: typing infinite 0.5s alternate ease-in-out;
                top: 0;
       
            }
        }

        p{
            font-size: 1.1em;
        }

        button{
            border: 2px solid black;
            margin-top: 2em;
            color: black;
            font-weight: 900;
            cursor: pointer;
        }

        
    }

    .clients{
        color: white;
        padding: 3em 0;
        position: relative;

        &::before{
            width: 40%;
            height: 2px;
            background-color: white;
            display: block;
            content: "";
            position: absolute;
            bottom: 0;
        }
      
        

        h1{
            font-size: 3em;
            position: relative;
            width: 25%;
            margin-bottom: 1.4em;

            &::before{
                width: 0.2%;
                height: 100%;
                right: 30%;
                bottom: -12%;
                background-color: rgb(255, 255, 255);
                display: block;
                content: "";
                position: absolute;
                transition: all 0.61s ease-in-out;
                top: 0;
                z-index: -4;
       
            }
        }

        .clientCard{
            text-align: center;
            display: grid;
            grid-template-columns: 1.7fr 3fr 2fr;
            width: 90%;
            grid-column-gap: 1em;
            margin: 1em auto 9em auto;
            align-items: center;
            justify-items: center;
            

            span{
                padding: 1em 0em;
                line-height: 1.1em;
                width: 70%;
                margin: 0.5em;
                border-radius: 10px;
                border: 2px solid white;
                cursor: pointer;
                transition: all 0.4s ease-in-out;

                &:hover{
                    background-color: white;
                    color: black;

                }

            }

            // span:nth-child(even){
            //     background-color: white;
            //     color: black;

            //     &:hover{
            //         background-color: black;
            //         color: white;
            //     }
            // }
        }

    }


    footer{
        color: white;
        padding: 6em 0 1em 1em;

        .footerSection{
            display: grid;
            grid-template-columns:  60% 1fr;

            .stayInfo{
                display:    grid;
                padding-top: 10vh;
                grid-template-columns: 90% 1fr;

                input{
                    background-color: transparent;
                    border: 2px solid white;
                    padding: 0.9em 1em;
                    border-radius: 5px;
                    width: 70%;
                    color: white;
                    font-family: $font-Family;
                    font-size: 1.2em;
                    
                }
            }

            .footerLogo{
                text-align: center;
                height: 30vh;
                background: url("../assets/magsManLogoText.png");
                background-size: contain;
                background-position-x: 40%;
                background-repeat: no-repeat;
                transform: scale(3);
                z-index: -1;
            }

        }

        p{
            text-align: center;
            margin-top: 9em;
        }
    }


}


@keyframes typing {

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }

 
}
    
